.navbar-custom {
    background-color: #D3D3D3;
    color: #004d40;
    padding: 10px 15px;
    border-bottom: 2px solid #ccc;
}

/* Style for the message */
.header-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #004d40;
    /* Dark text */
    margin: 0;
    flex: 1;
}

/* Style for the logo */
.logo {
    max-height: 80px;
    max-width: 100px;
    height: auto;
    width: auto;
    margin-left: 10px;
}

/* Mobile view adjustments */
@media (max-width: 576px) {
    .navbar-custom {
        flex-direction: row;
    }

    .header-message {
        font-size: 1.2rem;
    }

    .logo {
        max-height: 60px;
        /* Smaller logo for mobile */
        max-width: 80px;
    }
}

.content {
    margin: 20px auto;
    padding: 15px;
}

p {
    font-size: 14px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
    color: #008080;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    color: #008080;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures the footer is always at the bottom */
}

.footer {
    margin-top: auto;
    background-color: #D3D3D3;
    /* Classic Gray */
    padding: 10px 0;
}

.copyright {
    margin: 0;
}